<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hls.dao.Idao">
    <insert id="InsertMember">
        insert into info (name, sec, sex, TimeDate) values (#{name},#{sec},#{sex},#{TimeDate})
    </insert>

    <!--/*有关order：
            After（生成id在insert后面）  Mysql   是先执行INSERT    然后再生成Id
            Before Oracle  是先生成Id 再执行INSERT
            现在不写也行，默认根据用的数据库选择
        */-->
    <insert id="InsertMemberCache" >
        insert into info (name, sec, sex, TimeDate) values (#{name},#{sec},#{sex},#{TimeDate})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select @@identity ;
        </selectKey>
    </insert>

    <delete id="DeleteMemberByid">
        delete from info where id=#{xxx}
    </delete>

    <update id="UpdateMember">
        update info set name=#{name},sec=#{sec} ,sex=#{sex}, TimeDate=#{TimeDate} where id=#{id}
    </update>

    <select id="selectAllMember" resultType="TestMyBatis">
        select id,name,sec,sex,TimeDate from info
    </select>

    <select id="selectAllMemberMap" resultType="TestMyBatis">
        select id,name,sec,sex,TimeDate from info
    </select>

    <select id="selectMemberByid" resultType="TestMyBatis">
        select id,name,sec,sex,TimeDate from info where id like concat('%',#{id},'%')
    </select>

    <select id="selectMemberBySec" resultType="TestMyBatis">
        select id,name,sec,sex,TimeDate from info where sec like concat('%',#{sec},'%')
    </select>


</mapper>