<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--注册DB文件四要素文件-->
    <properties resource="jdbc_mysql.properties"/>
    <typeAliases>
        <!--<typeAlias type="com.hls.beans.TestMyBatis" alias="xxx"></typeAlias>-->
        <!--将指定包中所有类的简单类名当作其别名-->
        <package name="com.hls.beans"/>
    </typeAliases>
    <!--配置運行環境-->
    <environments default="MysqlEM">
        <environment id="MysqlEM">
            <!--事務管理器-->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <!--池  數據庫連接池  以後要用C3D0等等的數據庫連接池-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--jdbc  總協議  mysql 子協議-->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.userName}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        <!--两种表示方式都可以，但是一般用上面这种表示方式-->
        <environment id="TestMyBatis">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/name?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>


    <!--注册映射文件-->
    <mappers>
        <mapper resource="mapper.xml" />
    </mappers>
</configuration>


<!--
     * >= 0
     + >= 1
     ? <= 1   最多有一個
-->